* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #48435c;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #3a344d;
    font-family: cursive;
}

.nav-links a {
    color: white;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 1.8rem;
}

.menu li:hover {
    background-color: #655d809a;
    border-radius: 0.5rem;
}

.menu li {
    padding: 0.5rem 2rem;
    font-size: 2rem;
}

.search {
    display: flex;
    align-items: center;
}

#divBusca {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
    background-color: #E0EEEE;
    border-radius: 10px;
    width: 500px;
    height: 32px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 465px;
}

header h1 {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.page {
    margin: 0 auto;
}

form {
    padding: 6rem 6.4rem 6.4rem 4.5rem;
    border-radius: 1.6rem 1.6rem 0rem 0rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 48px;
    border: #E6E6F0;
}

fieldset {
    border: none;
}

fieldset legend {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #E6E6F0;
    font-size: 2.4rem;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 40rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 0.8rem;
    padding-left: 1rem;
}

.input-wrapper input {
    background: #FAFAFC;
    border: 0.1rem solid #E6E6F0;
    border-radius: 0.8rem;
    height: 5.6rem;
    width: 62.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding-left: 1rem;
}

footer {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer button {
    cursor: pointer;
    font-family: Arial;
    font-weight: bold;
    color: white;
    font-size: 14px;
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
    background: linear-gradient(to top, #3f375c, #3f375c);
}

button:hover {
    background: linear-gradient(to top, #787586, #787586);
}

footer .button a {
    color: white;
}

input:invalid {
    border: 1px solid red;
}

.bodypage {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
}

.fieldset-wrapper legend {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}